@font-face {
    font-family: custom;
    src: url(adamcg.otf);
}

body{
   overflow: hidden;
   background: url("background.jpg");
   background-size: 1024px 768px;
}

#box {
	/* basics */
    text-align: center;
	margin: 0 auto;	
	width: 100%;
}

#header{
	font-size: 4vw;
	height: 25%;
	font-family: custom;
	margin-top: 50px;
	position: relative;
}

#rbu {
	position: absolute;
	top: 0px;
	right: 0px;
}

#rating-row{
	height: 30%;
	margin-top: 50px;
}

#rating-row input{
	margin-right: 40px;
}

#footer{
	font-size: 4vw;
	height: 25%;
	font-family: custom;
}	

#results{
	margin-top: -50px;
}
